#footerContainer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $off-white;

  #upperFooter {
    @include flex-column;
    background-color: $light-grey;
    padding: $s-mp;

    #footerLogo {
      align-self: center;
      width: 7vw;
    }

    #footerDataColumnsContainer {
      @include flex-row;
      justify-content: space-evenly;

      #footerColumnTitle {
        font-weight: 900;
        font-size: 1.3vw;
      }

      #footerLink {
        font-size: 0.9vw;
        font-weight: 200;
        &:hover {
          cursor: pointer;
        }
      }
    }

    #footerColumn {
      @include flex-column;
    }
  }

  #bottomFooter {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;

    #copyrights {
      padding-right: 2vw;
    }

    #footerButtons {
      padding-left: 2vw;
      img {
        &:hover {
          cursor: pointer;
        }
        margin: $xs-mp;
        width: 3vw;
      }
    }
    background-color: $dark-grey;
  }
}
