@mixin basicFooterContainer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $off-white;

  #upperFooter {
    @include flex-column;
    background-color: $light-grey;
    padding: $s-mp;

    #footerLogo {
      align-self: center;
    }

    #footerDataColumnsContainer {
      @include flex-row;
      justify-content: space-evenly;

      #footerLink {
        &:hover {
          cursor: pointer;
        }
      }
    }

    #footerColumn {
      @include flex-column;
    }
  }

  #bottomFooter {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;

    #footerButtons {
      padding-left: 2vw;
      img {
        margin: $xs-mp;
        &:hover {
          cursor: pointer;
        }
      }
    }
    background-color: $dark-grey;
  }
}

#footerContainer {
  @include basicFooterContainer();

  #upperFooter {
    #footerLogo {
      width: 7vw;
    }

    #footerDataColumnsContainer {
      #footerColumnTitle {
        font-weight: 900;
        font-size: 1.3vw;
      }

      #footerLink {
        font-size: 0.9vw;
        font-weight: 200;
      }
    }
  }

  #bottomFooter {
    #copyrights {
      padding-right: 2vw;
    }
  }

  #footerButtons {
    img {
      width: 3vw;
    }
  }
}

#mobileFooterContainer {
  @include basicFooterContainer();

  #upperFooter {
    #footerLogo {
      width: 13vw;
    }

    #footerDataColumnsContainer {
      margin: 0 $s-mp;
      
      #footerColumnTitle {
        font-weight: 900;
        font-size: 4.5vw;
      }

      #footerLink {
        font-size: 3vw;
        font-weight: 200;
      }
    }
  }

  #bottomFooter {
    #copyrights {
      padding-right: $s-mp;
      font-size: 4vw;
    }

    #footerButtons {
      img {
        width: 7vw;
      }
    }
  }
}
