#footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: $off-white;

  #upperFooter {
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vw;

    #footerDataColumnsContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    #footerLogo {
      align-self: center;
      padding-top: 1vw;
      width: 5vw;
    }
  }

  #footerColumn {
    display: flex;
    flex-direction: column;
  }

  #footerLink {
    &:hover {
      cursor: pointer;
    }
  }

  #bottomFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;

    #copyrights {
      padding-right: 2vw;
    }

    #footerButtons {
      padding-left: 2vw;
      img {
        &:hover {
          cursor: pointer;
        }
        margin: 0.1vw;
        width: 3vw;
      }
    }
    background-color: $dark-grey;
  }
}
