#headerContainer {
  @include flex-row;
  align-items: center;
  background: $main-background-color;
  height: 10vh;
  justify-content: space-between;
  padding: $s-mp;
  position: relative;
  width: 100%;
}
