@mixin basicHeaderProps {
  color: $off-white;
  button {
    color: $off-white;
    margin: 0.5vw;
    &:hover {
      background: $off-white;
      color: $main-background-color;
    }
  }
}

#headerButtonContainer {
  @include basicHeaderProps();
}

#mobileHeaderButtonContainer {
  @include basicHeaderProps();
  @include flex-column;
  button {
    color: $dark-grey;
  }
}
