#recordsContainer {
  margin: $s-mp;
  #divider {
    margin: $xs-mp $s-mp;
  }

  #titleContainer {
    color: $azure;
  }

  #listContainer {
    #listItemContainer {
      @include flex-row;
      margin: $s-mp 0;

      img {
        margin-left: $s-mp;
        width: 25%;
        align-self: center;
        @media (max-width: $tablet-breakpoint) {
          height: 100%;
        }
        border-radius: $s-border-radius;
      }

      #mainDataContainer {
        @include flex-row;
        @media (max-width: $tablet-breakpoint) {
          @include flex-column;
        }
        justify-content: space-between;
        width: 50%;
        padding: $s-mp;
        border: solid 1px $light-grey;

        #mainData {
          #hotelName {
            color: $azure;
          }

          #ratingContainer {
            margin: 0.5vw 0;
          }

          #travelTimeContainer {
            @include flex-row;
            color: $light-grey;
            #title {
              margin-left: $xs-mp;
              font-weight: bold;
            }
          }

          #nightsAndAccommodationContainer {
            @include flex-row;
            color: $light-grey;
            * {
              font-weight: bold;
            }
          }
        }

        #morePackagesButtonContainer {
          @include flex-column;
          justify-content: flex-end;
          button {
            background-color: $azure;
            color: $off-white;
          }
        }
      }

      #additionalDataContainer {
        @include flex-column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: $s-mp;
        border: solid 1px $light-grey;
        margin-right: $s-mp;
        color: $azure;
        background-color: $off-grey;
        width: 25%;

        #priceContainer {
          font-size: 3vw;
          @media (max-width: $mobile-breakpoint) {
            font-size: 5vw;
          }
        }

        #priceDescriptionContainer {
          word-wrap: break-word;
          word-break: keep-all;
        }

        button {
          background-color: red;
          color: $off-white;
        }
      }
    }
  }
}
