@mixin basicSortingContainer {
  @include flex-row;
  align-items: center;

  .MuiInputBase-root {
    margin-right: $s-mp;
  }

  .chosen {
    background-color: $main-background-color;
    * {
      color: $off-white;
    }
  }

  #buttonsContainer {
    button {
      margin: 0 $s-mp;
      color: $light-grey;
    }
  }

  #selectContainer {
    @include flex-row;
  }

  .MuiDivider-root {
    margin: 0 $s-mp;
  }
}

#sortingContainer {
  @include basicSortingContainer();
}

#mobileSortingContainer {
  @include basicSortingContainer();
  justify-content: center;

  #selectContainer {
    @include flex-column;
    align-items: center;
    @media (max-width: $mobile-breakpoint) {
      .MuiSelect-root {
        width: 45vw;
      }
    }
  }
}
