* {
  direction: rtl;
}

//colors
$azure: #34afe3;
$off-white: #fbf7f5;
$off-grey: #e3e1e1;
$blue: #3f51b5;
$light-grey: #525050;
$dark-grey: #3b3b3b;

$main-background-color: $blue;


//variables
$tablet-breakpoint: 1200px;
$mobile-breakpoint: 700px;

$xs-mp: 0.1vw;
$s-mp: 1vw;
$m-mp: 3vw;

$s-border-radius: 0.2vw;
$m-border-radius: 1vw;

$filters-width: 20vw;

//mixins
@mixin tablet-view($property, $value){

}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
